<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from scipy.stats import f_oneway # Numeric Vs categorical for many categories
from scipy.stats import ttest_ind # Numeric Vs categorical

from statsmodels.graphics.gofplots import qqplot

In [4]:
a = [13, 8, 11, 12, 11]
b = [15, 10, 16, 11, 13, 10]
c = [5, 11, 9, 5]
d = [8, 10, 6, 5, 7]

In [5]:
# H0: All groups have the same mean
# Ha: One or more groups have different mean
f_stats, p_value = f_oneway(a, b, c, d)

print("test statistic:",f_stats)
print("p_value:",p_value)

test statistic: 6.324748040313554
p_value: 0.0049302919205628576

In [6]:
if p_value < 0.05:
    print("Reject H0")
    print("Atleast one group have different mean")
else:
    print("Fail to reject H0")
    print("All groups have same mean")

Reject H0
Atleast one group have different mean

In [7]:
one_star = [382, 391, 335, 368, 400, 372]
two_star = [560, 343, 512, 329, 391, 367]
three_star = [384, 458, 409, 309, 374, 459]
four_star = [325, 390, 304, 240, 306, 169]
five_star = [360, 298, 272, 368, 320, 326]

In [8]:
# H0: All groups have the same mean
# Ha: One or more groups have different mean
f_stats, p_value = f_oneway(one_star, two_star, three_star, four_star,five_star)

print("test statistic:",f_stats)
print("p_value:",p_value)

test statistic: 4.238644902556343
p_value: 0.009362001936328837

In [10]:
if p_value < 0.01:
    print("Reject H0")
    print("Atleast one group have different mean")
else:
    print("Fail to reject H0")
    print("All groups have same mean")

Reject H0
Atleast one group have different mean

In [11]:
Brand_A = [19.60, 18.82, 19.00, 18.45, 19.79, 19.03, 17.89, 19.42]
Brand_B = [21.10, 20.00, 20.43, 19.67, 18.99, 19.98, 20.14, 19.78]
Brand_C = [10.31, 10.02, 9.41, 9.89, 10.05, 10.52, 11.02, 10.42]
Brand_D = [17.02, 16.71, 17.78, 18.65, 15.98, 17.63, 17.00, 16.78, 16.92, 17.14]

In [12]:
# H0: All groups have the same mean
# Ha: One or more groups have different mean
f_stats, p_value = f_oneway(Brand_A, Brand_B, Brand_C, Brand_D)

print("test statistic:",f_stats)
print("p_value:",p_value)

test statistic: 404.7865500650496
p_value: 2.392149441499325e-24

In [13]:
if p_value < 0.02:
    print("Reject H0")
    print("Atleast one group have different mean")
else:
    print("Fail to reject H0")
    print("All groups have same mean")

Reject H0
Atleast one group have different mean

In [15]:
t_stat, pvalue = ttest_ind(Brand_A, Brand_B)  # (Sample 1, Sample 2)
t_stat, pvalue

(-3.281024608464368, 0.005464761718691163)

In [16]:
t_stat, pvalue = ttest_ind(Brand_B, Brand_C)  # (Sample 1, Sample 2)
t_stat, pvalue

(35.80102299364571, 3.618464053986992e-15)

In [17]:
t_stat, pvalue = ttest_ind(Brand_C, Brand_D)  # (Sample 1, Sample 2)
t_stat, pvalue

(-23.410707401229885, 8.33672049161488e-14)

In [18]:
t_stat, pvalue = ttest_ind(Brand_D, Brand_A)  # (Sample 1, Sample 2)
t_stat, pvalue

(-5.702213789495044, 3.271164766368406e-05)

In [22]:
from scipy.stats import ttest_ind

In [24]:
from scipy import stats

def pairwise_ttest(data, alpha=0.05):
    groups = list(data.keys())
    n_groups = len(groups)

    # Perform pairwise t-tests
    for i in range(n_groups):
        for j in range(i + 1, n_groups):  # Only compare pairs once (i < j)
            group1 = groups[i]
            group2 = groups[j]
            ttest_result = stats.ttest_ind(data[group1], data[group2])

            # Print the results
            print(f"Pairwise t-test: {group1} vs {group2}")
            print(f"p-value: {ttest_result.pvalue:.4f}")

            # Check significance
            if ttest_result.pvalue < alpha:
                print("Result: Significant difference (reject null hypothesis)")
            else:
                print("Result: No significant difference (fail to reject null hypothesis)")
            print("-" * 50)

# Example dataset
data = {
    "Brand_A": [12.5, 13.1, 12.9, 13.4, 12.8],
    "Brand_B": [21.10, 20.00, 20.43, 19.67, 18.99, 19.98, 20.14, 19.78],
    "Brand_C": [10.31, 10.02, 9.41, 9.89, 10.05, 10.52, 11.02, 10.42],
    "Brand_D": [17.02, 16.71, 17.78, 18.65, 15.98, 17.63, 17.00, 16.78, 16.92, 17.14]
}

# Perform pairwise t-tests
pairwise_ttest(data, alpha=0.02)

Pairwise t-test: Brand_A vs Brand_B
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------
Pairwise t-test: Brand_A vs Brand_C
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------
Pairwise t-test: Brand_A vs Brand_D
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------
Pairwise t-test: Brand_B vs Brand_C
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------
Pairwise t-test: Brand_B vs Brand_D
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------
Pairwise t-test: Brand_C vs Brand_D
p-value: 0.0000
Result: Significant difference (reject null hypothesis)
--------------------------------------------------

In [25]:
group_a_effects = [1.5, 1.8, 1.2, 1.6, 1.7]

group_b_effects = [1.4, 1.9, 1.3, 1.5, 1.8]

In [27]:
# H0: All groups have the same mean
# Ha: One or more groups have different mean
f_stats, p_value = f_oneway(group_a_effects, group_b_effects)

print("test statistic:",f_stats)
print("p_value:",p_value)

test statistic: 0.01666666666666662
p_value: 0.9004656894435094

In [28]:
if p_value < 0.1:
    print("Reject H0")
    print("Atleast one group have different mean")
else:
    print("Fail to reject H0")
    print("All groups have same mean")

Fail to reject H0
All groups have same mean

In [29]:
from scipy.stats import levene
stat,p_val=levene(group_a_effects,group_b_effects) #fail to reject variances are same
print(stat)
print(p_val)

0.1666666666666667
0.693799838016959

In [30]:
if p_value < 0.1:
    print("Reject H0")
    print("Atleast one group have different mean")
else:
    print("Fail to reject H0")
    print("All groups have same mean")

Fail to reject H0
All groups have same mean