<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/Coding_exercise_Pandas5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Coding Exercise (pandas)

In [33]:
!pip install --upgrade gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.66.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

###Loading dataset-

In [34]:
!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 65.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 57.1MB/s]

In [35]:
import pandas as pd
import numpy as np

movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv', index_col=0)

In [36]:
movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [37]:
directors.head()

       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

###Q1 - How many yrs of data is given to you in the movies dataset?

In [38]:
total_yrs = movies['year'].max() - movies['year'].min()
total_yrs

40

### Q2 - Display the `ReleaseDate` in the Day-Month-Year format.

In [39]:
releaseDate = movies["day"] + "-" + movies["month"] + "-" + movies["year"]
print(releaseDate[:5])

TypeError: can only concatenate str (not "int") to str

In [40]:
#confirm error by checking the datatype of cols
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1465 entries, 0 to 4768
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1465 non-null   int64
 1   budget        1465 non-null   int64
 2   popularity    1465 non-null   int64
 3   revenue       1465 non-null   int64
 4   title         1465 non-null   object
 5   vote_average  1465 non-null   float64
 6   vote_count    1465 non-null   int64
 7   director_id   1465 non-null   int64
 8   year          1465 non-null   int64
 9   month         1465 non-null   object
 10  day           1465 non-null   object
dtypes: float64(1), int64(7), object(3)
memory usage: 137.3+ KB

As yr is in int format we need to type cast it before concatenation


We'll use astype() function here for typecasting.

In [41]:
releaseDate = movies['day'] + '-' + movies['month'] + '-' + movies['year'].astype('str')
releaseDate[:5]

0    Thursday-Dec-2009
1    Saturday-May-2007
2      Monday-Oct-2015
3      Monday-Jul-2012
5     Tuesday-May-2007
dtype: object

### Q3 - What is the % of male directors in the given data?

In [42]:
directors['gender'].value_counts()

gender
Male      1574
Female     150
Name: count, dtype: int64

In [43]:
directors['gender'].value_counts(normalize=True)

gender
Male      0.912993
Female    0.087007
Name: proportion, dtype: float64

In [44]:
directors['gender'].value_counts(normalize=True)*100

gender
Male      91.299304
Female     8.700696
Name: proportion, dtype: float64

More than 91% of the directors in the dataset are Male.

In [45]:
male_dir = directors[directors['gender'] == 'Male'].shape[0]
male_dir

1574

In [46]:
total_dir = len(directors)

In [47]:
male_percentage = (male_dir / total_dir) * 100
male_percentage

67.00723712217965

### Q4 - How many different movies have been directed in the year 2010?

In [48]:
movies2010 = movies[movies["year"]==2010]

In [49]:
print(len(movies[movies["year"]==2010])) # as every row is a unique movie

63

In [50]:
movies2010['id'].nunique()

63

### Q5 - How many different directors have directed a movie since 2010 (inclusive)?

In [51]:
sample = movies[movies["year"] >=2010]
sample['director_id'].nunique()

163

### Q6 - What are the names of those directors?

In [52]:
ids = sample['director_id'].unique()
names = directors[directors['id'].isin(ids)]['director_name']
names

1            Gore Verbinski
2                Sam Mendes
3         Christopher Nolan
5                 Sam Raimi
9               Zack Snyder
               ...
1132          Brad Anderson
1189         Michael Polish
1208          Paul Schrader
1294    Darren Lynn Bousman
1442      Nicole Holofcener
Name: director_name, Length: 163, dtype: object

In [53]:
names.count() # validating

163

### Q7 - Display the name of the director who directed the Spider-Man 3 movie.

In [54]:
#Approach 1: without using merge

df = movies[movies['title'] == 'Spider-Man 3']
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [55]:
director_id = df['director_id']
director_id

5    4767
Name: director_id, dtype: int64

In [56]:
director_id.reset_index(drop= True, inplace=True)
director_id

0    4767
Name: director_id, dtype: int64

In [57]:
id = director_id[0]
id

4767

In [58]:
name = directors.loc[directors['id'] == id, 'director_name']
name

5    Sam Raimi
Name: director_name, dtype: object

In [59]:
#approach 2: first mergeand then filter row

data = movies.merge(directors, how = 'inner', left_on = 'director_id', right_on = 'id')
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male

In [60]:
#as we are getting uneccesary cols we already have directors name no need of id we can drop it
data.drop(['director_id','id_y'], axis=1, inplace=True)
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [61]:
name = data[data['title'] == 'Spider-Man 3']['director_name']
print(name)

4    Sam Raimi
Name: director_name, dtype: object

### Q8 - How many different movies have been directed by James Cameron between year 2005 to 2010?

In [62]:
directors.head()

       director_name    id gender
0      James Cameron  4762   Male
1     Gore Verbinski  4763   Male
2         Sam Mendes  4764   Male
3  Christopher Nolan  4765   Male
4     Andrew Stanton  4766   Male

In [63]:
james_id = directors.loc[directors['director_name'] == 'James Cameron']
james_id

   director_name    id gender
0  James Cameron  4762   Male

In [64]:
james_id = directors.loc[directors['director_name'] == 'James Cameron'].reset_index(drop = True)['id'][0]
james_id

4762

In [65]:
movies.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday

In [66]:
james_movies = movies[(movies['director_id'] == james_id) & (movies['year']>= 2000) & (movies['year'] <= 2015)]
james_movies

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday

try to write down one function so that we can retrieve same thing for whichever director we want

In [69]:
def solve(director_name, start_yr, end_yr):

  director_id = directors.loc[directors['director_name'] == director_name].reset_index(drop = True)['id'][0]

  director_movies = movies.loc[(movies['director_id'] == director_id)]

  df = director_movies.loc[(director_movies['year'] >= start_yr) & director_movies['year'] <= end_yr]

  return df

In [70]:
solve('James Cameron', 2000, 2015)

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
25,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday
279,43876,100000000,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday
282,43879,115000000,38,378882411,True Lies,6.8,1116,4762,1994,Jul,Thursday
587,44184,70000000,24,90000098,The Abyss,7.1,808,4762,1989,Aug,Wednesday
2403,46000,18500000,67,183316455,Aliens,7.7,3220,4762,1986,Jul,Friday
3439,47036,6400000,74,78371200,The Terminator,7.3,4128,4762,1984,Oct,Friday

In [71]:
solve("Gore Verbinski", 2000, 2015)

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
12,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday
13,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday
178,43775,135000000,29,245724603,Rango,6.6,2051,4763,2011,Mar,Wednesday
199,43796,140000000,271,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday
1183,44780,57000000,21,147845033,The Mexican,5.8,441,4763,2001,Mar,Thursday
2204,45801,20000000,14,12482775,The Weather Man,6.0,289,4763,2005,Oct,Thursday