<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/Copy_of_06_Functional_Programming_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functional pgmg paradigm

functions r the core unit of computation

functions are treated as first class citizens

you can pass functions as arguments to other functions

functions can also return function as o/p

small, readable

more mutable

efficient

###immutabilty
avoid mutating data/ changing state of data

#Imperative paradigm

In [ ]:
x = 1
x =x+1
x=2*x
x = x-5
print(x)
#here we r losing the information abt the original value, not easy for debugging

In [ ]:
#better way
x =1
y = x+1
z = 2*y
u = z-5
print(u)

In [ ]:
def random_ops(x):
  y = x+1
  z = 2*y
  u = z-5
  return u
x =1
random_ops(x)

In [ ]:
#imperative approach
nums = [1,2,3,4]
sq_nums = []
for i in nums:
  sq_nums.append(i**2)

print(sq_nums)

[1, 4, 9, 16]

In [ ]:
# Using Map and Lambda Functions (Functional Approach)
nums = [1,2,3,4]
sq_nums = list(map(lambda x:x*x, nums))
print(sq_nums)

[1, 4, 9, 16]

#Lambda Functions

In [ ]:
def squar(x):
  return x*x

In [ ]:
squar(2)

4

In [ ]:
#lambda input/argument : output/expression
lambda_sq = lambda x: x*x
lambda_sq(3)

9

In [ ]:
multiply_two_var = lambda x,y : x*y
multiply_two_var(2,3)

6

In [ ]:
type(multiply_two_var)

function

In [ ]:
#odd even evaluator

In [ ]:
foo: lambda x: 'even' if x%2 == 0 else 'odd'

In [ ]:
#multiply 3 nos
foo = lambda x,y,z: x*y*z
print(foo(1,2,3))

6

In [ ]:
# if either of
foo = lambda x,y,z: '0' if x%2 == 0 or y%2==0 or z%2 == 0 else x*y*z
print(foo(1,3,5))

15

#Sorted Function

In [ ]:
l = [1,5,3,7,2,9]

In [ ]:
sorted(l)# will create new list

[1, 2, 3, 5, 7, 9]

In [ ]:
students = [
    {'name': 'A', 'marks': 50},
    {'name': 'B', 'marks': 100},
    {'name': 'C', 'marks': 40},
    {'name': 'D', 'marks': 70},
    {'name': 'E', 'marks': 60},
]

In [ ]:
sorted(students)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [ ]:
students[0]['marks']

50

In [ ]:
for i in students:
  print(i['marks'])

50
100
40
70
60

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
get_marks = lambda x:x ['marks']

SyntaxError: incomplete input (<ipython-input-15-875672cc9696>, line 2)

In [ ]:
for i in students:
  print(get_marks(i))

50
100
40
70
60

In [ ]:
sorted(students, key = lambda x: x['marks'])

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [ ]:
#another example
l = [(1,2),(0,5),(3,3)]

In [ ]:
l[0][1]

2

In [ ]:
sorted(l, key = lambda x:x[1], reverse = True)

[(0, 5), (3, 3), (1, 2)]

#Higher Order Functions

Higher order function is a function which takes a function as an argument or rturns a function

e.g.map, sorted

In [1]:
def square(x):
  return x*x

square(2)

4

In [ ]:
def cube(x):
  return x**3

cube(2)

8

In [ ]:
#sample higher order function
def custom_exp_fun(n):
  def inner(x):
    return x**n
  return inner

In [ ]:
square = custom_exp_fun(2)

In [ ]:
square(3)

9

In [ ]:
cube = custom_exp_fun(3)
cube(4)

64

In [ ]:
foo = custom_exp_fun(5)
print(type(foo))
foo(2)

<class 'function'>

32

In [ ]:
#another ex
#custom distance from origin function
#euclidean distance from origin : lamda x, y : (x**2 + y **2)**0.5
#minkowski distance from origin from origin : lamda x,y : (x**n+y**n)**1/n
def custom_dist_fun(n):
  def inner(x,y):
    return (x**n + y **n)**(1/n)
  return inner

In [ ]:
euclidean_dist = custom_dist_fun(2)
euclidean_dist(3,4)

5.0

In [ ]:
L3_dis = custom_dist_fun(3)

In [ ]:
L3_dis(3,4)

4.497941445275415

#Decorators

In [ ]:
def foo():
  print("hello everyone! How are you doing?")

In [ ]:
foo()

hello everyone! How are you doing?

In [ ]:
# Beautify this function
def foo():
  print("_"*50)
  print("Hello, How you doing?")
  print("_"*50)

In [ ]:
foo()

__________________________________________________
Hello, How you doing?
__________________________________________________

In [ ]:
# Using Higher Order function to do beautify other functions
def pretty(function):
  def inner():
    print("_"*50)
    function()
    print("_"*50)
  return inner

In [ ]:
def foo():
  print("hello everyone! How are you doing?")

In [ ]:
pretty_foo = pretty(foo)
pretty_foo()

__________________________________________________
__________________________________________________
Hello, How you doing?
__________________________________________________
__________________________________________________

In [ ]:
#another example
def multiply(x,y):
  multiply = lambda x: x*y
  return multiply


import time
start = time.time()
multiply(2,3)
end = time.time()
print(end-start)

6.890296936035156e-05

In [ ]:
def time_func(func):
  def inner(x,y):
    start = time.time()
    print(func(x,y))
    end = time.time()
    print("time taken:", end-start)
  return inner

In [ ]:
@time_func
def multiply(x,y):
  return x*y

In [ ]:
multiply(2,3)

6
time taken: 0.0009636878967285156

In [ ]:
@time_func
def add(x,y):
  return x+y

In [ ]:
add(2,3)

5
time taken: 0.0008809566497802734

In [ ]:
def LengthDequece(string, length):
  result = string.split()
  matching_words = []
  for i in result:
    if len(i) == length:
      matching_words.append(i)
  return matching_words

In [ ]:
LengthDequece("The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over", 5)

['world', 'start']