<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/FunctionalPgmgD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Whenever we perform mutation on any obj we loose previous data

#Maps

In [1]:
a = [1,2,4,7]

def square(x):
  return x*x

map_obj = map(square,a)
map_obj

In [2]:
list(map_obj)

[1, 4, 16, 49]

In [3]:
list(map(lambda x:x*x, [1,2,4,7]))

[1, 4, 16, 49]

In [5]:
list(map(lambda x:x * x,[i for i in range(6)]))

[0, 1, 4, 9, 16, 25]

In [7]:
# problem
#h < 150 = S
#h  >= 150 and h < 180 = M
# h >= 180 -> L
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]
#o/p = [S, M, L , M,...]

In [8]:
def size_logic(h):
  if h < 150:
    return 'S'

  elif h >= 150 and h < 180:
    return 'M'

  else:
    return 'L'

list(map(size_logic, heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [9]:
list(map(lambda h: 'S' if h < 150 else 'M' if h >= 150 and h <180 else 'L' , heights))

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [12]:
#passing two iterables to Map
a = [1,0,0,1,0,1]
b = [1,1,0,0,1,1]

list(map(lambda x,y : x==y ,a,b))

[True, False, True, False, False, True]

In [13]:
#how many elements match
sum(list(map(lambda x,y : x==y,a,b)))

3

In [14]:
#problem -- > add two elemnets
a = [1,2,3]
b = [12,-2,4]

list(map(lambda x,y : x+y, a,b))

[13, 0, 7]

#Filter

In [10]:
#filter out all the even elements
a = [1,2,5,8,4]

#filter(conditional function, iterable)
filter(lambda x: x%2 == 0, a)

In [11]:
list(filter(lambda x: x%2==0, a))

[2, 8, 4]

In [12]:
list(map(lambda x: x% 2 == 0, a))

[False, True, False, True, True]

In [13]:
#problem
a = [1,2,14,35,22,65]
#filter out all elements between 10 and 60

list(filter(lambda x: 10 < x < 60, a))

[14, 35, 22]

#Zip

In [14]:
a = [1,2,3]
b = ["a","b","c"]
#output: [(1, "a"),(2,"b"),(3,"c")]
zip_obj = zip(a,b)
zip_obj

In [15]:
list(zip_obj)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [16]:
dict(zip_obj)

{}

In [17]:
list(zip_obj)

[]

In [19]:
a = [1,2,3]
b = ["a","b","c"]
zip_obj = zip(a,b)
dict(zip_obj)

{1: 'a', 2: 'b', 3: 'c'}

In [20]:
a = [1,2,3]
b = ["a","b","c"]
c = [True, False,False]
list(zip(a,b,c))

[(1, 'a', True), (2, 'b', False), (3, 'c', False)]

In [21]:
a = [1,2,3]
b = ["a","b","c"]
c = [True, False,False]
dict(zip(a,b,c))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

#Enumerate

In [23]:
a = ["hello","hi","howdie"]
list(enumerate(a))

[(0, 'hello'), (1, 'hi'), (2, 'howdie')]

In [24]:
list(enumerate(a,3))

[(3, 'hello'), (4, 'hi'), (5, 'howdie')]

#Reduce

In [25]:
from functools import reduce

In [26]:
a = [1,2,3,4,5]
reduce(lambda x,y : x+y, a)

15

In [27]:
a = [1,7,3,4,9,2]
reduce(lambda x,y : x if x>y else y, a)

9

In [28]:
#we want that reduce starts with initial value of 100 i.e. x_initial = 100

a = [1,2,3,4,5]
reduce(lambda x, y : x+y, a, 100) # a = 100,[1,2,3,4,5]

115

#Args and Kwargs

In [29]:
def add_num(x,y):
  return x+y

In [30]:
add_num(1,2)

3

In [31]:
add_num(1,2,3)

TypeError: add_num() takes 2 positional arguments but 3 were given

In [32]:
add_num(1,2,3,4)

TypeError: add_num() takes 2 positional arguments but 4 were given

In [33]:
#using arbitratry arguments -- > args
def add_num(x,y,*args):
  print(x)
  print(y)
  print(args)
  print(type(args))

In [34]:
add_num(1,2,3,4,5)

1
2
(3, 4, 5)
<class 'tuple'>

In [37]:
def add_num(x,y,*args):
  result = x+y
  print("arbitrary args:",args)
  for i in args:
    result += sum(args)
  return result

In [38]:
add_num(1,2)

arbitrary args: ()

3

In [40]:
add_num(1,2,3,4)

arbitrary args: (3, 4)

17

In [9]:
#using arbitrary keyword arguments
def create_student(name,age,gender):
  student = {"name": name,
             "age": age,
             "gender":gender}

  return student

In [10]:
create_student("shraddha",25,"F")

{'name': 'shraddha', 'age': 25, 'gender': 'F'}

In [11]:
create_student("shraddha",25,"F",hobby="Chess",fav_color = "Red")

TypeError: create_student() got an unexpected keyword argument 'hobby'

In [12]:
def create_student(name,age,gender,**kwargs):
  print(name)
  print(age)
  print(gender)
  print(kwargs)
  print(type(kwargs))

In [13]:
create_student("shraddha",25,"F",hobby = "Chess",fav_color = 'Red')

shraddha
25
F
{'hobby': 'Chess', 'fav_color': 'Red'}
<class 'dict'>

In [14]:
def create_student(name,age,gender,**extra_info):
  student = {"name": name,
             "age": age,
             "gender": gender}

  if extra_info:
    student.update(extra_info)
  return student

In [15]:
create_student("Shraddha",25,"F",hobby = "Dance", fav_color = "Black")

{'name': 'Shraddha',
 'age': 25,
 'gender': 'F',
 'hobby': 'Dance',
 'fav_color': 'Black'}

In [16]:
create_student("Shraddha",25,"F",hobby = "Dance", fav_color = "Black", subjects = ["Data Science","SQL"])

{'name': 'Shraddha',
 'age': 25,
 'gender': 'F',
 'hobby': 'Dance',
 'fav_color': 'Black',
 'subjects': ['Data Science', 'SQL']}

In [19]:
#Problem
def random(x,y,*args,**kwargs):
  print(x)
  print(y)
  print(kwargs)

In [20]:
random(1,2,4,"a",u= 10, v = 20)

1
2
{'u': 10, 'v': 20}

In [21]:
random(1,2,3,"a", u = 10, v = 20, 100,12)

SyntaxError: positional argument follows keyword argument (<ipython-input-21-00ae14ee4c5f>, line 1)

In [ ]:
#order od passing arguments
#possitional -- > args -- > Keyworded Arguments -- > Kwargs
#* : arbitrary arguments
#**: arbitrary keyworded arguments

In [23]:
def random (x,y,*args,c= 10,**kwargs):
  print(x)
  print(y)
  print(args)
  print(c)
  print(kwargs)

In [24]:
random(10,20,30,40,c = 50, d = 80, e= 90)

10
20
(30, 40)
50
{'d': 80, 'e': 90}

In [25]:
def random(x,y,c = 10,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(c)
  print(kwargs)

In [26]:
random(10,20,30,40,c = 50,d = 80,e = 90)

TypeError: random() got multiple values for argument 'c'