<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/OOPS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-Dunder Methods

-Inheritance continued

-Private Variable

-Multiple Inheritance

In [1]:
class Student:
  count = 0
  def __init__(self,name):
    self.name = name
    self.id = Student.count
    Student.count += 1

In [2]:
s1 = Student("a")
s2 = Student("b")

In [3]:
s1.name

'a'

In [4]:
s2.id

1

In [5]:
s1.count

2

In [6]:
s2.count

2

In [7]:
Student.count

2

In [8]:
s1.count += 343

In [9]:
s1.count

345

Dunder method/Magic Method

every class has these methods

we can modify behaviouor of these methods

__intit__

__str__ : o/p when obj is passed through

__repr__ : string representation of obj

__add__ : what happens when '+' operator

In [10]:
class Student:
  count = 0
  def __init__(self,name):
    self.name = name
    self.id = Student.count
    Student.count += 1

  def __str__(self):
    return f"this is an object of Student class with name {self.name} and id {self.id}"

In [11]:
s1 = Student("Ram")

In [12]:
print(s1)

this is an object of Student class with name Ram and id 0

In [13]:
a = [1,2,s1]

In [14]:
print(a)

[1, 2, <__main__.Student object at 0x793ff9785180>]

In [15]:
class Student:
  count = 0
  def __init__(self,name):
    self.name = name
    self.id = Student.count
    Student.count += 1

  def __str__(self):
    return f"this is an object of Student class with name {self.name} and id {self.id}"
  def __repr__(self):
    return f"this is a student with id {self.id}"

In [18]:
s1 = Student("Ram")

In [19]:
print(s1)

this is an object of Student class with name Ram and id 0

In [20]:
a = [1,2,s1]

In [21]:
print(a)

[1, 2, this is a student with id 0]

In [23]:
#add dunder method for string class
y = "hello"
y.__add__(" world")

'hello world'

In [24]:
"hello" + " world"

'hello world'

In [25]:
class Student:
  count = 0
  def __init__(self,name):
    self.name = name
    self.id = Student.count
    Student.count += 1

  def __str__(self):
    return f"this is an object of Student class with name {self.name} and id {self.id}"
  def __repr__(self):
    return f"this is a student with id {self.id}"

  def __add__(self,num):
    self.id =  self.id + num
    return self.id

In [26]:
s1 = Student("Ram")

In [27]:
s1.id

0

In [28]:
s1.id + 10

10

In [33]:
class Car:
  def __init__(self, mileage, color):
    self.mileage = mileage
    self.color = color

  # def __add__(self,num):
  #   return self.mileage + num

In [34]:
c1 = Car(15,"blue")

In [35]:
c1

In [36]:
c1 + 10

TypeError: unsupported operand type(s) for +: 'Car' and 'int'

In [38]:
class Car:
  def __init__(self, mileage, color):
    self.mileage = mileage
    self.color = color

  def __add__(self,num):
    return self.mileage + num

In [39]:
c1 = Car(15,"blue")

In [40]:
c1 + 10

25

In [41]:
c2 = Car(20, "black")

In [43]:
# o/p should b sum of mileages
c1 + c2
#t throws error becoz behavoiur defuined to pass a num value not c2 which is object

TypeError: unsupported operand type(s) for +: 'int' and 'Car'

In [44]:
class Car:
  def __init__(self, mileage, color):
    self.mileage = mileage
    self.color = color

  def __add__(self,num):
    return self.mileage + num.mileage

In [46]:
c1 = Car(15,"blue")
c2 = Car(5, "black")

In [47]:
c1 + c2 # c1.___add__(c2)

20

In [49]:
dir(c1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'mileage']

In [ ]:
class Spanoftime():
  def timeHandle(self,a,b,c,d):
    h1 = self.timeHandle.a
    h2 = self.timeHandle.b