<a href="https://colab.research.google.com/github/sr606/Python-Practice/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Object Programming

Classes --> Blueprint
Objects --> instance of class

e.g Student Class
Properties or attributes
functions methods

Account Class

Attributes --> acc, bal,acc type
functions/ methods -->deposit, withdraw, check balance

enclose all above things which tkakes care of this inside class = blueprint

In [ ]:
# benefits
# reusability
# modularity
# scalibilty

# Note: oops is used to create large scale poerations

In [ ]:
class Student:
  #attributes
  #methods
  pass  # have to use pass if not using body

In [ ]:
s1 = Student() # creating instance/obj of class

In [ ]:
type(s1)

__main__.Student

In [ ]:
isinstance(s1,Student)

True

In [ ]:
s1.name = "amir"

In [ ]:
print(s1.name)

amir

In [ ]:
s2 = Student()

In [ ]:
print(s2.name)

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
class Student:
  def __init__(self, name):
    self.name = name

#self is reference/var/identifier to the obj
#self made an attribut when save amir in name attribute in memory block of s1 objet

In [ ]:
s1 = Student("amir")

In [ ]:
print(s1.name)

amir

In [ ]:
type(s1.name)

str

In [ ]:
class BankAccount:
  def __init__(self, bankname, bankacc):
    self.bankname = name
    self.bankacc = account

In [ ]:
class BankAccount:
  def __init__(self,id,balance):
    self.id = id
    self.balance = balance

  def deposit(self,amount):
    self.balance += amount
    return self.balance

  def withdraw(self,amount):
    self.balance -= amount
    return self.balance

  def cheeck_balance(self):
    return self.balance

In [ ]:
acc1 = BankAccount(1,1000)
acc2 = BankAccount(2,1500)

In [ ]:
acc1.deposit(500)

1500

In [ ]:
acc1.withdraw(100)

1400

In [ ]:
print(acc1.cheeck_balance())
print(acc2.cheeck_balance())

1500
1500

In [ ]:
#class can have multiple object of class
#self helping me to make changes to seposit, withdraw
#it isencapsulating everything to perticular class

#Inheritance

In [ ]:
class BankAccount:
  def __init__(self,id,balance):
    self.id = id
    self.balance = balance

  def deposit(self,amount):
    self.balance += amount
    return self.balance

  def withdraw(self,amount):
    self.balance -= amount
    return self.balance

  def cheeck_balance(self):
    return self.balance

class savingsAccount(BankAccount):
  def __init__(self, id, balance):
    self.id = id
    self.balance = balance

In [ ]:
sav1 = savingsAccount(1,500)

In [ ]:
sav1.deposit(amount=100)

600

In [ ]:
class Animal:
  def sound(self):
    print("meow")

class Dog(Animal):
  def __init__(self, name):
    self.name = name

In [ ]:
d1 = Dog("tommy")

In [ ]:
d1.sound()

meow

#Polymorphism

In [ ]:
class Animal:
  def sound(self):
    print("random sound")

  def move(self):
    print("Im moving")

class Dog(Animal):
  def __init__(self, name):
    self.name = name

  def sound(seld):
    print("woof")

class Cat(Animal):
  def __init__(self, name):
    self.name = name

  def sound(self):
    print("meow")

In [ ]:
a1 = Animal()
d1 = Dog("Bruno")
c1 = Cat("Kit")

In [ ]:
print(a1.sound())
print(d1.sound())
print(c1.sound())
#none is coming becoz i havent defined anything here

random sound
None
woof
None
meow
None

In [ ]:
print(d1.move())

Im moving
None

#Constructors

In [1]:
class Animal:
  pass

In [3]:
a1 = Animal()

In [4]:
isinstance(a1, Animal)

True

In [5]:
type(a1)

__main__.Animal

In [6]:
a1.name = "Bruno"

In [9]:
class Animal:
  def __init__(self, name_param):
    self.name = name_param

In [10]:
a1 = Animal("Bruno")

In [11]:
class Animal:
  def __init__(self, name_param, leg_param):
    self.name = name_param
    self.legs = leg_param

In [12]:
a1 = Animal("Bruno",4)

##Classs Variqables

In [15]:
class Student:
  count = 100
  def __init__(self, name,id):
    self.name = name
    self.id = id

In [16]:
s1 = Student("Ram",1)
s2 = Student("Shyam",2)

In [17]:
print(s1.id)
print(s2.id)
print(s1.count) # object has access to class variable
print(s2.count)

1
2
100
100

In [19]:
print(Student.count)

100

In [20]:
s1.count += 10

In [21]:
print(s1.count)
print(s2.count)
print(Student.count)

110
100
100

In [24]:
Student.count += 30
print(s1.count)
print(s2.count)
print(Student.count)

110
130
130

In [26]:
class Dog:
    tricks = []

    '''
    When updating a class variable using an object -
    - In case of immutable - New Instance Variable created
    - In case of mutable - Original Class Variable updated
    '''

    def __init__(self, name):
        self.name = name

    def teach_trick(self, trick):
        self.tricks.append(trick)

In [27]:
d1 = Dog("Bruno")
d2 = Dog("Pluto")

In [28]:
print(d1.tricks)
print(d2.tricks)
print(Dog.tricks)

[]
[]
[]

In [29]:
d1.teach_trick("jump")

In [30]:
print(d1.tricks)
print(d2.tricks)
print(Dog.tricks)

['jump']
['jump']
['jump']

In [31]:
d1.teach_trick("sit")

In [32]:
print(d1.tricks)
print(d2.tricks)
print(Dog.tricks)

['jump', 'sit']
['jump', 'sit']
['jump', 'sit']

In [36]:
class Student:
  count = 100
  def __init__(self, name):
    self.name = name
    self.id = Student.count
    Student.count += 1

In [37]:
s1 = Student("a")
s2 = Student("b")
s3 = Student("c")

In [38]:
print(s1.id)
print(s2.id)
print(s3.id)

100
101
102